PORT=4000
HOST=0.0.0.0
CORS_ORIGINS=*
SQL_SERVER=MSI\MSSQLSERVER01
SQL_DATABASE=VotingDApp
SQL_TRUST_CERT=true
SQL_ENCRYPT=false
SQL_USE_WINDOWS_AUTH=true
SQL_USER=sa
SQL_PASSWORD=YOUR_PASSWORD
SYNC_CONFIRMATIONS=3
